body {
            background-image: url(backimg.jpeg);
        }
        
        
        
        
        
         img{
/*            width: 100%;*/
            max-width: 100px;
            max-height: 100px;
            border-color: black;
            border-width: 5px;
               -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            border-radius: 10px;
        }
        
         .zoom {
            transition: transform .25s; /* Animation */
        }
    
        .zoom:hover {
            transform: scale(2.3); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
        }
        
        img:hover {
            transition: transform .50s; /* Animation */
            transform: scale(2.0); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
        }
        
        
    
        dl {
  list-style-type: none;
        }
/*
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #111111;
}
        
*/
        
        textarea {
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            border-radius: 10px;
            border-color: dodgerblue;
            border-style: ridge;
            border-width: thick;
        }
        
        
        bruh {
            
            color: dodgerblue;
            font-size: 72px;
            
        }
        
        
        body {
            
            font-family: futura;
            
        }
        
        #in {
            
         float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
            
        }
        
   
        
        #debate {
            
            
            
        }
        
        #info {
            
            border-radius: 5px;
            background-color: dodgerblue;
            padding: 2px;
            height: 33;
            width: 55;
            color: white;
            
        }
        
        #inputFileToLoad {
            border-radius: 5px;
            background-color: dodgerblue;
            padding: 2px;
            /*height: 33;*/
            color: white;
            padding-top: 7px;
            padding-bottom: 7px;
            
        }
        
/*
      #like a:hover {
            
            background-color: dodgerblue;
            color: red;
            
        }
*/
        
        
        
        #submit {
            
            border-radius: 5px;
            background-color: green;
            padding: 2px;
            height: 33;
            width: 55;
            color: aliceblue;
            
        }
        
        
        
        #outdiv {
            
            margin-right: 1px;
            
        }
        

        table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
}
td, th {
  border: 0px solid #dddddd;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #e6f0ff;
}
        #avatar{
            border-radius: 50%;
            border: 1px solid dodgerblue;
        }
        
        #pfp{
            border-radius: 50%;
            border: 1px solid dodgerblue;
            width: 40px;
        }
        
        .container {
  position: relative;
  width: 50%;
}
.image {
  display: block;
  width: 100%;
  height: auto;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}
.container:hover .overlay {
  opacity: 1;
}
.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
        
        .icon-bar {
  width: 100%; /* Full-width */
  background-color: #dddddd; /* Dark-grey background */
  overflow: auto; /* Overflow due to float */
}
.icon-bar a {
  float: left; /* Float links side by side */
  text-align: center; /* Center-align text */
  width: 20%; /* Equal width (5 icons with 20% width each = 100%) */
  padding: 12px 0; /* Some top and bottom padding */
  transition: all 0.3s ease; /* Add transition for hover effects */
  color: white; /* White text color */
  font-size: 36px; /* Increased font size */
}
.icon-bar a:hover {
  background-color: dodgerblue; /* Add a hover color */
}
.active {
  background-color: dodgerblue; /* Add an active/current color */
}
        
        /* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #dddddd;
  font-family: Arial;
}
/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}
/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px; 
  border: none;
  outline: none;
  color: dodgerblue;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}
/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: dodgerblue;
}
/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: dodgerblue;
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
        
